html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spartan";
  font-size: $font-sm;
  font-weight: 500;
  color: $darkGrey;
  min-height: 100vh;
}

//Typography
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.15;
  font-weight: 700;
  color: $black;
}
h1 {
  font-size: $font-lg;
  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}
h2 {
  font-size: $font-sm;
}
h3 {
}

p {
  margin: 0;
  line-height: 1.6;
  font-weight: 500;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

//Spacing

.container {
  max-width: 69.375rem;
  margin: auto;

  &--pall {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint-up(medium) {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  &--px {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  &--py {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

//Flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

//button
button,
.button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
}

button:hover,
button:focus {
}

button:focus {
}

button:active {
}

//Visibility
.hide-for-mobile {
  //hide for tablet and mobile
  @include breakpoint-down(small) {
    display: none;
  }
}
.hide-for-tablet {
  //hide for tablet and mobile
  @include breakpoint-up(medium) {
    display: none;
  }
}
.hide-for-desktop {
  //hide for desktop view port width
  @include breakpoint-up(large) {
    display: none;
  }
}
