.header {
  position: relative;
  width: 100%;

  .overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.521);
    z-index: 1;
  }
  &__menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: $white;
    font-weight: 700;
    z-index: 2;
    width: inherit;
  }
  nav {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  &__open {
  }
  &__logo {
    margin-left: 50%;

    transform: translateX(-2.75rem);
    @include breakpoint-up(medium) {
      margin-left: 0;
      transform: translateX(0rem);
    }
  }

  &__links {
    @include breakpoint-up(medium) {
      margin-left: 3.5rem;
    }

    a {
      position: relative;
      color: $black;
      @include breakpoint-up(medium) {
        color: $white;
      }
      &:not(:last-child) {
        margin-right: 2.0625rem;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $black;
        height: 2px;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -13px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;

        @include breakpoint-up(medium) {
          background-color: $white;
        }
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
