.hero {
  position: relative;
  flex-direction: column;
  @include breakpoint-up(large) {
    flex-direction: row;
  }

  &__images {
    position: relative;
    width: 100%;
    //flex-grow: 1;
    @include breakpoint-up(medium) {
      max-height: 45vh;
      overflow: hidden;
    }
    @include breakpoint-up(large) {
      max-height: unset;
    }

    &__mobile {
    }
    &__desktop {
    }
    .size {
      opacity: 0;
      width: 100%;
    }
    &__inner {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 300ms ease-in-out;

      &.active {
        opacity: 1;
      }
    }
    &__control {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      a {
        background-color: $black;
        padding: 20px 23px 20px 23px;
        transition: opacity 200ms ease-in-out;
        //display: block;
        img {
          width: 80%;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__cta {
    //display: flex;
    //align-items: center;
    //flex-direction: column;
    //justify-content: space-between;
    min-width: 42vw;
    //min-height: 25.625rem;
    padding: 4.6875rem 2.1875rem 4.6875rem 2.1875rem;
    //position: relative;
    //border: 1px solid red;

    @include breakpoint-up(medium) {
      padding: 9% 13% 9% 13%;
      //min-height: 30rem;
    }
    @include breakpoint-up(large) {
      padding: 8% 6% 11% 6%;
      //min-height: 30rem;
    }

    //position: relative;

    .float--wrapper {
      border: 1px solid blue;
      position: relative;
      width: 100%;
      height: 100%;
      //min-height: 25.625rem;
      //flex: 1;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      border: 1px solid red;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      //transform: translate(-50%, -50%);
      opacity: 0;

      transition: opacity 300ms ease-in-out;

      // @include breakpoint-up(large) {
      //   transform: translateY(-50%);
      // }

      &.active {
        opacity: 1;
      }

      h1 {
        margin-bottom: 7%;
      }
      p {
        //margin-bottom: 5%;
      }

      button {
        font-weight: 600;
        letter-spacing: 10px;
        margin-top: 5%;
        .arrow {
          font-size: $font-lg;
          img {
            display: inline-block;
          }
        }
      }
    }
  }
}
