// Primary
$darkGrey: hsl(0, 0%, 63%);
$veryDarkGrey: hsl(0, 0%, 27%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

//Font Size
$font-sm: 0.75rem; // 12px
$font-med: 0.85rem; // 14 px
$font-lg: 1.625rem; // 26 px
$font-xlg: 2.125rem; // 34 px

//Hero
$mobile-1: url(/images/mobile-image-hero-1.jpg);